 /* 로고 글꼴 */
 .Edwardian{
    font-family: "Edwardian Script ITC";
    font-size: 120px;
    text-align: center;
    color: red;    
}
/* 본문 스타일 그리드로 */
body{
    background-color: ivory;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "menu menu menu"
        ". content ."  
        ". content."
        "footer footer footer";
  }
  
 .header {
    grid-area: header;
  }
  
  
.menu {
    grid-area: menu;
  }
  
.content {
    grid-area: content;
  }
  
.footer {
    grid-area: footer;
  }
  
  
  /* OTHER STYLES */

  
.item {
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  

  
.content{
    background-color: ivory;
    padding-bottom: 0%;
    padding-top: 65%;
  }
.footer {
    background-color: ivory;
    padding-top: 30%;
 }
  
ul{
    list-style: none;
  }
.w-menu-list li{
    float: left;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
}
.w-menu-list li:hover{
    background-color: black;
    color:white;
}
.w-sidebar-list{
    line-height: 50px;
}
.w-sidebar-list li{
  border-radius: 10px;
  text-align: center;
}
.w-sidebar-list li:hover{
  background-color: black;
  color:white;
}
.tx{
  text-align: center;
  
}